<div class="row">
  <div class="d-flex justify-content-center col-lg-3 col-md-12 col-sm-12 p-5"> <img src="./assets/img/fotoCV.jpg"
      alt="Foto profilo" width="250" height="200">
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center  pt-lg-5">

    <ul>
      <li>
        <h1>Michele Antonacci</h1>
      </li>
      <li>
        <h3>Software developer</h3>
      </li>
      <li>
        <h3>Full Stack Web Developer</h3>
      </li>
      <li>
        <h3>Middle Angular developer</h3>
      </li>
    </ul>

  </div>
  <div class="col-lg-5 col-md-6 col-sm-12  pt-lg-5 pl-none">
    <div class="d-md-flex align-items-center border-info-top">
      <h5 class="bold-info"><b> <svg class="icon icon-sm">
            <use xlink:href="./assets/svg/sprite.svg#it-telephone">
            </use>
          </svg>TELEFONO:</b></h5>
      <h5> +39 3332411902</h5>
    </div>
    <div class="d-lg-flex align-items-center border-info-center">
      <h5 class="bold-info"><b> <svg class="icon icon-sm">
            <use xlink:href="./assets/svg/sprite.svg#it-mail">
            </use>
          </svg>EMAIL:</b></h5>
      <h5> antonacci.m98@gmail.com</h5>
    </div>
    <div class="d-md-flex align-items-center border-info-bottom">
      <h5 class="bold-info"><b> <svg class="icon icon-sm">
            <use xlink:href="./assets/svg/sprite.svg#it-map-marker-minus">
            </use>
          </svg>INDIRIZZO:</b></h5>
      <h5> BITETTO (BA)</h5>
    </div>
    <!--    <div class="d-md-flex align-items-center border-info-bottom">
      <svg class="icon icon-sm">
        <use xlink:href="./assets/svg/sprite.svg#it-linkedin-square
        ">
        </use>
    </svg>
     <a class="link-social"href="https://it.linkedin.com/in/michele-antonacci-625754140"> <h5><b> PROFILO LINKEDIN</b></h5></a>
  </div> -->
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">

    </div>
  </div>
