<div class="container header">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="./assets/img/background1.jpg" height="500"
            alt="Profile image example" />
        <img align="left" class="fb-image-profile thumbnail" src="./assets/img/me.jpg"
            alt="Profile image example" />
        <div class="fb-profile-text">
            <h1>Michele Antonacci</h1>
            <h2>Full Stack Web Developer.</h2>
        </div>
    </div>
</div>
<hr class="hor-line hr-head">