<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12"> <img src="./assets/img/fotoCV.jpg" alt="Foto profilo" width="500"
      height="600">
  </div>
  <div class="col-lg-8 col-md-8 col-sm-12 text-center">
    <h1>Michele Antonacci</h1>
    <h3>Software developer</h3>
    <h3>Full Stack Web Developer</h3>
    <h3>Middle Angular developer</h3>

  </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12"> 

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12"> 

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12"> 

    </div>
  </div>
