<div class="zone-2">

  <div class="headTitle">
    <h1>Michele<br><b>Antonacci</b></h1>
  </div>
  <div class="subTitle">
    <h2>Web Application developer</h2>
  </div>
  <div class="group-1">
    <div class="title">
      <div class="box">
        <h2>{{linguaSer.getFile().about}}</h2>
      </div>
    </div>
    <div class="desc">{{linguaSer.getFile().pres1}}<br>{{linguaSer.getFile().pres2}}
      <br> {{linguaSer.getFile().pres3}}
      <br> {{linguaSer.getFile().pres5}}
      <br> {{linguaSer.getFile().pres4}}

    </div>
  </div>
  <div class="group-2">
    <div class="title">
      <div class="box">
        <h2>{{linguaSer.getFile().educ}}</h2>
      </div>
    </div>
    <div class="desc">
      <ul>
        <li>
          <div class="msg-1">A.S. 2016/2017 | {{linguaSer.getFile().diploma}}</div>
          <div class="msg-2">Liceo E.Amaldi, Bitetto (BA)</div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="msg-1">09/2019 |{{linguaSer.getFile().certificato}}</div>
          <div class="msg-2">Links Academy</div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="msg-1">A.A. 2019/2020 | {{linguaSer.getFile().laurea}}</div>
          <div class="msg-2">Università delgi studi di Bari A.Moro</div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="msg-1">{{linguaSer.getFile().inCorso}} | {{linguaSer.getFile().laureaSpecialistica}}</div>
          <div class="msg-2">Università delgi studi di Bari A.Moro</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="group-2">
    <div class="title">
      <div class="box">
        <h2>{{linguaSer.getFile().work}}</h2>
      </div>
    </div>
    <div class="desc">
      <ul>
        <li>
          <div class="msg-1">10/2019 | Web Appplication Engineer</div>
          <div class="msg-2">Links Management & Technology</div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="msg-1">09/2020 | Web Appplication Engineer</div>
          <div class="msg-2">DXC Technology</div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="msg-1">08/2021 | Software Engineer - Analyst</div>
          <div class="msg-2">Fincons Group</div>
        </li>
      </ul>
    </div>
  </div>
</div>
