.clickable {
    cursor: pointer;
}
.icon.icon-xs {
    width: 16px;
    height: 16px;
}

.icon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}
.icon.icon-sm {
    width: 24px;
    height: 24px;
}
.icon.icon-lg {
    width: 48px;
    height: 48px;
}
.icon.icon-xl {
    width: 64px;
    height: 64px;
}