/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

app-sidebar,#mySideNav {
  height: max-content;
  min-height: 100vh;
  background-color: #d1d1d1;
  color: black;
}


app-content,#myContent {
  height: max-content;
  min-height: 100vh;
  width: 67vw;
  background-color: #2c2b29;
  color: #b5b5b4;
}

@media (max-width: 575.98px) {
  app-sidebar,#mySideNav {
    width: 100vw;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
  }


  app-content,#myContent {
    width: 100vw;
    z-index: 0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  app-sidebar,#mySideNav {
    width: 76vw!important;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
  }

  app-content,#myContent {
    width: 100vw;
    z-index: 0;

  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  app-sidebar,#mySideNav {
    width: 50vw;
  }

  app-content,#myContent {
    width: 50vw;
  }
}

@media (min-width: 992px) {
  app-sidebar,#mySideNav {
    width: 33vw;
  }

  app-content,#myContent {
    width: 100%;
  }
}

#container {
  display: flex;
}

.clickable{
    cursor: pointer;
}