.sidebar {
  height: 90vh;
  width: 20vw;
  padding-top: 10vw;
}

.content {
  height: 90vh;
  width: 80vw !important;
  padding-left: 20vw;
  padding-top: 10vw;

}

.header {
  height: 10vh;
  margin: 0 !important;
}

body {
  margin: 0 !important;
}
