.sidebar {
  width: 20vw;
}

.content {
  width: 80vw !important;
  padding-left: 20vw;
}

.header {
  height:fit-content;
  margin: 0 !important;
}

.app{
  background-color: rgba(207, 203, 182, 0.650);
  width: 100vw;
  margin-right:0px!important;
}