<div  >

  <div id="photoBox" class="mt-3 mb-2 ml-2 mr-2 toCenter">
    <div class="profile"></div>
  </div>
  <div id="ContactBox" class=" mb-2 mr-2 toLeft contact-box">
    <h2>{{linguaSer.getFile().contatti}}</h2>


    
    <div><i class="bi bi-telephone"></i> <a class="text link" href="tel:+39-333-241-1902">&nbsp;&nbsp;(+39) 3332411902</a> </div>
    <div><i class="bi bi-house"></i>&nbsp;&nbsp; Bari, Italy</div>
    <div><i class="bi bi-linkedin"></i>
      <a class="text link" href="https://www.linkedin.com/in/michele-antonacci-625754140">&nbsp;&nbsp;Michele Antonacci</a>
    </div>
    <div><i class="bi bi-github"></i>
      <a class="text link" href="https://github.com/michel-98">&nbsp;&nbsp;Michel-98</a>
    </div>
    <div class="d-flex"><i class="bi bi-inbox"></i><a class="text link"
        href="mailto:michele.antonacci1098@gmail.com">&nbsp;&nbsp;michele.antonacci1098@gmail.com</a></div>
  </div>
  <div id="LanguageBox" class="mt-1 mb-2  mr-2 toLeft contact-box">
    <h2>{{linguaSer.getFile().lingueTit}}</h2>
    <div class="skill">
      <span>{{linguaSer.getFile().italian}}</span>
      <div class="progresso">
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot active"></div>
      </div>
    </div>
    <div class="skill">
      <span>{{linguaSer.getFile().english}}</span>
      <div class="progresso">
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <div id="SkillBox" class="mt-1 mb-2  mr-2 toLeft contact-box">
    <h2>{{linguaSer.getFile().frameLib}}</h2>
    <div class="skill">
      <span>Angular</span>
      <div class="progresso">
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot "></div>
      </div>
    </div>
    <div class="skill">
      <span>Spring</span>
      <div class="progresso">
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot"></div>
      </div>
    </div>
    <div class="skill">
      <span>React</span>
      <div class="progresso">
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot "></div>
        <div class="dot "></div>
        <div class="dot"></div>
      </div>
    </div>
    <div class="skill">
      <span>Vue</span>
      <div class="progresso">
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot "></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <div id="PLanguagesBox" class="mt-1 mb-2  mr-2 toLeft contact-box">
    <h2>{{linguaSer.getFile().proLang}}</h2>
    <div class="skill">
      <span>Java</span>
      <div class="progresso">
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot "></div>
      </div>
    </div>
    <div class="skill">
      <span>Typescript</span>
      <div class="progresso">
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot"></div>
      </div>
    </div>
    <div class="skill">
      <span>Javascript</span>
      <div class="progresso">
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot"></div>
      </div>
    </div>
    <div class="skill">
      <span>Dart</span>
      <div class="progresso">
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot "></div>
        <div class="dot "></div>
        <div class="dot"></div>
      </div>
    </div>
    <div class="skill">
      <span>Python</span>
      <div class="progresso">
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot "></div>
        <div class="dot "></div>
        <div class="dot"></div>
      </div>
    </div>
    <div class="skill">
      <span>C/C++</span>
      <div class="progresso">
        <div class="dot active"></div>
        <div class="dot active"></div>
        <div class="dot "></div>
        <div class="dot "></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <div id="PLanguagesBox" class="mt-1 mb-2  mr-2 toLeft contact-box">
    <h5>{{linguaSer.getFile().knowledgeBase}}</h5>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6" >•Microservices</div>
      <div class="col-lg-8 col-md-6 col-sm-6">•CI/CD</div>
      <div class="col-lg-4 col-md-4 col-sm-6">•Agile</div>
      <div class="col-lg-8 col-md-8 col-sm-6"></div>
    </div>
  </div>
</div>
