<div class="sidebar">
    <div class="sidebar-1 d-flex clickable" href="./#about">
        <span class="align-top-m98 clickable"><span class="sm-screen"  >&#x2192;</span> About me <span class="sm-screen"  >&#x2190;</span></span>
        <div class="sm-screen-svg">
            <img src="./assets/svg/face.svg">
        </div>
    </div>
    <div class="sidebar-2 d-flex clickable" href="./#esperienze">
        <span class="align-middle-m98 "><span class="sm-screen " >&#x2192;</span> Esperienze <span class="sm-screen"  >&#x2190;</span></span>
        <div class="sm-screen-svg">
            <img src="./assets/svg/laptop.svg"><img src="./assets/svg/mouse.svg">
        </div>
    </div>
    <div class="sidebar-3 d-flex clickable" href="./#contatti">
        <span class="align-middle-m98"><span class="sm-screen"  >&#x2192;</span> Contatti <span class="sm-screen"  >&#x2190;</span></span>
        <div class="sm-screen-svg">
            <img src="./assets/svg/contacts.svg">
        </div>
    </div>
</div>